:root {
  --root-background-color: #f7f7f7;
  --container-background-color: #fdfdfd;
  --container-border-color: #d3d3d3;
  --link-color: #2781e8;
  --sub-color: #818181;
}

html {
  background-color: var(--root-background-color);
  scroll-behavior: smooth;
}

body {
  margin: 30px auto 50% auto;
  max-width: min(950px, 85%);
}

h1 {
  font-family: 'Helvetica';
}

table {
  display: block;
  white-space: nowrap;
  overflow: scroll;
  font-family: 'IBM Plex Mono';
}

span {
  font-style: italic;
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

sub {
  color: var(--sub-color);
  font-style: italic;
}

table td + td + td {
  padding: 1px 8px;
}

.grammar-container {
  padding: 8px;
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
}
