body {
  margin: 30px auto 50% auto;
  max-width: min(1200px, 92%);
}

h1 {
  font-family: 'Helvetica';
}

code {
  font-family: 'IBM Plex Mono';
}

span {
  font-style: italic;
}

a, a:visited {
  color: rgb(50, 138, 238);
  text-decoration: none;
}

sub {
  color: gray;
  font-style: italic;
}

table td + td + td {
  padding: 1px 8px;
}

.content {
  overflow: auto;
}
